.burger {
    width: 100%;
    max-width: 500px;
    min-height: 1px;
    max-height: 450px;
    text-align: center;
    overflow: auto;
}

.bread-bottom {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -144px;
    padding-top: 8.283%;
    max-height: 40px;
}

.bread {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -104px;
    padding-top: 6.213%;
    max-height: 30px;
}

.bread-top {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left 3px;
    padding-top: 20.705%;
    max-height: 100px;
}

.meat {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -248px;
    padding-top: 8.283%;
    max-height: 40px;
}

.cheese {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -219px;
    padding-top: 3.108%;
    max-height: 15px;
}

.salad {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -298px;
    padding-top: 5.385%;
    max-height: 26px;
}

.bacon {
    background-image: url('../../Assets/burger-sprite.png');
    background-position: left -194px;
    padding-top: 3.108%;
    max-height: 15px;
}

.ingregient {
    width: 100%;
    max-width: 400px;
    margin: 4px auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}
