.burger {
    width: 100%;
    max-width: 500px;
    min-height: 1px;
    max-height: 85vh;
    text-align: center;
    overflow: auto;
}

.bread-bottom {
    background-image: url('../../Assets/Burger/bread-bottom.jpg');
    padding-top: 8.283%;
    max-height: 40px;
}

.bread {
    background-image: url('../../Assets/Burger/bread-middle.jpg');
    padding-top: 6.213%;
    max-height: 30px;
}

.bread-top {
    background-image: url('../../Assets/Burger/bread-top.jpg');
    padding-top: 20.705%;
    max-height: 100px;
}

.meat {
    background-image: url('../../Assets/Burger/meat.jpg');
    padding-top: 8.283%;
    max-height: 40px;
}

.cheese {
    background-image: url('../../Assets/Burger/cheese.jpg');
    padding-top: 3.108%;
    max-height: 15px;
}

.salad {
    background-image: url('../../Assets/Burger/salad.jpg');
    padding-top: 5.385%;
    max-height: 26px;
}

.bacon {
    background-image: url('../../Assets/Burger/bacon.jpg');
    padding-top: 3.108%;
    max-height: 15px;
}

.ingregient {
    width: 100%;
    max-width: 400px;
    margin: 4px auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
