.check-out-form {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding: 0 15px;

  form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 15px;
      transition: 0.4s;
    }
  }
}

.check-out-form input.error-input {
  border-bottom: 1px solid salmon;
}

.check-out-form input.validated-input {
  border-bottom: 1px solid rgb(27, 192, 27);
}
