.header {
    position: relative;
    background-image: linear-gradient(
        to right,
        #323232,
        #444444,
        #565656,
        #696969,
        #7d7d7d,
        #828282,
        #868686,
        #8b8b8b,
        #828282,
        #797979,
        #707070,
        #676767
    );

    a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 20px 40px;
        border-bottom: 5px solid transparent;
        transition: 0.4s;
    }
    a.active,
    a:hover {
        border-bottom: 5px solid #f4511e;
        background-color: rgba(0, 0, 0, 0.287);
    }
}
