.orders {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .one-order {
        width: calc(25% - 10px);
        min-width: 300px;
        margin: 5px;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: relative;

        .order-wrapper {
            min-height: 200px;
            position: relative;
            overflow-x: hidden;
        }

        .burger {
            height: 100%;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            overflow: initial;
        }
        .order-price {
            margin-bottom: 10px;
        }
        .component-btn {
            margin-right: 0;
        }
    }
}

.error.no-items {
    margin: 0;
    background-color: #fff;
    color: rgb(233, 165, 102);

    button {
        margin-right: 0;
    }
}
