.error {
  font-size: 17px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(225, 0, 80);
  color: #fff;
  padding: 15px 5px;
  border-radius: 5px;
  font-family: "Kodchasan", sans-serif;
}
