.orders {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 20px;

    .one-order {
        width: calc(25% - 10px);
        margin: 5px;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .burger {
            width: 100%;
        }
        .order-price {
            margin-bottom: 10px;
        }
    }
}
