.burger-builder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    .add-ingridients {
        margin-left: 30px;
        width: 250px;

        button {
            margin: 10px 0;
            display: block;
            min-width: 180px;
        }
    }
    .checkout-summary {
        margin-left: 20px;
        width: calc(100% - 300px);
    }

    .burger {
        height: auto;
        max-height: 85vh;
        overflow-y: auto;
    }
}

.total-price {
    font-size: 25px;

    strong {
        display: inline-block;
        background-color: #e9a566;
        font-size: 30px;
        padding: 2px 20px;
        border-radius: 5px;
        color: #fff;
    }
    margin-bottom: 50px;
}

.burger-controls {
    width: calc(100% - 500px);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .burger-builder {
        justify-content: center;
    }
    .burger-controls {
        width: 100%;
        margin-top: 25px;
    }
    .burger-builder .checkout-summary {
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .burger-builder .checkout-summary {
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    .burger-builder .add-ingridients {
        width: 100%;
        margin-left: 0;
    }
    .burger-builder .add-ingridients button {
        margin: 10px auto;
    }
}
